<p class="byline">
	presentado por <strong>jon imanol ruiz hermoso</strong>
</p>

<style>
	.byline {
		text-align: center;
		font-size: 0.95rem;
		color: var(--sl-color-gray-3);
		margin-top: 2rem;
	}

	.byline strong {
		font-weight: 500;
		color: var(--sl-color-white);
	}
</style>